//use container-fluid for the entire browser window
doctype html
html(lang='en')
  head
    title Stratego
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style.
      .square{width: 7rem; height: 7rem;}
  body
    .container-fluid
      .row
        .col-xs-12
          .center-block
            button Play
      .row
        .col-xs-8
        .col-xs-4
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/app.js')