//use container-fluid for the entire browser window
doctype html
html(lang='en')
  head
    title Stratego
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style.
      .square{width: 7rem; height: 7rem;}
  body
    .alert.alert-info Welcome to Stratego.
    form#start
      input.form-control(type='text', name='name', placeholder='Enter your name', required)
      button.btn.btn-primary.btn-lg(type='submit') Start
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/stratego.js')