//use container-fluid for the entire browser window
doctype html
html(lang='en')
  head
    title Stratego
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style.
      .square{width: 10rem; height: 10rem;}
  body
    .container-fluid
      - for (r = 1; r <= 10; r++)
        .row
          - for (c = 1; c <= 10; c++) 
            button.btn.btn-default.square(value= (r - 1) * 10 + c)= r  + ',' + c
    .alert.alert-success No square clicked.
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/stratego.js')